<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="instructionsModalLabel">Instruções de Configuração</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Por favor, siga os passos abaixo para configurar o projeto corretamente:</p>
          <ol>
            <li>
              Clique em <strong>Ir para Configurações do Projeto</strong> para configurar as definições do projeto.
              <ul>
                <li>Na tela de configurações do projeto, ajuste as informações necessárias, como <em>nome do projeto</em>, <em>caminho do back-end</em> e <em>caminho do front-end</em>.</li>
                <li>Em seguida, clique no botão <strong>Configurar BackEnv</strong> para configurar as definições do ambiente de back-end. Preencha os campos e clique em <strong>Salvar</strong>.</li>
                <li>Depois, clique no botão <strong>Configurar FrontEnv</strong> para configurar as definições do ambiente de front-end. Preencha os campos e clique em <strong>Salvar</strong>.</li>
                <li>Após configurar todas as definições do projeto, clique em <strong>Salvar Projeto</strong>.</li>
              </ul>
            </li>
            <li>
              Clique em <strong>Ir para Criação de Classes</strong> para configurar as classes do projeto.
              <ul>
                <li>Na tela de criação de classes, insira o número de classes que deseja criar e clique em <strong>Gerar Campos</strong>.</li>
                <li>Para cada classe, adicione suas configurações e atributos.</li>
                <li>Clique em <strong>Salvar Configurações</strong> após ajustar as configurações de cada classe.</li>
                <li>Para os atributos de cada classe, configure as informações e clique em <strong>Salvar Atributos</strong>.</li>
              </ul>
            </li>
            <li>
              Após salvar as configurações de todas as classes e atributos, retorne à tela principal.
            </li>
            <li>
              Finalmente, clique no botão <strong>Baixar MainConfig.mm</strong> para gerar e baixar o arquivo de configuração final.
            </li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>
